@font-face {
  font-family: "Wild Breath of Zelda";
  src: url("../font/wild-breath.ttf");
}

@keyframes click {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(0.7);
    filter: blur(5px);
    opacity: 0.7;
  }
}

@keyframes shift-in {
  from {
    transform: scale(0.2) translateY(400%);
    filter: blur(5px);
  }

  50% {
    opacity: 0.4;
    transform: scale(1.2) translateY(40%);
  }

  75% {
    opacity: 0.6;
  }

  to {
    opacity: 1;
  }
}

@keyframes shine {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 0.8;
  }
}

@keyframes cover-fade-out {
  to {
    opacity: 0;
  }
}

:root {
  --color-white: #fff;
  --color-tree-green: #344a22;
  --color-bright-green: #b6e88d;
  --color-grass-green: #03201c;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Wild Breath of Zelda", sans-serif;
  cursor: url("../img/master-sword.cur"), auto;
}

html,
body {
  margin: 0;
  padding: 0;
  /* BUG: There seems to be some extra space at the bottom of the page. This is a temporary fix. */
  overflow: hidden;
}

html {
  font-size: 40px;
}

body {
  height: 100vh;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-white);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#message-cover {
  transition: backdrop-filter 1s ease, opacity 1s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  text-shadow: 0 0 30px var(--color-tree-green);
  opacity: 0;
}

#message-cover.show {
  opacity: 1;
  backdrop-filter: blur(10px);
}

#state-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}

#particles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  pointer-events: none;
}

#cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 2;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: var(--color-white);
}

#cover.fade {
  animation: cover-fade-out 3s ease-in-out 1s;
  animation-fill-mode: forwards;
}

#cover > label {
  opacity: 0.3;
  font-size: 30px;
  padding: 20px;
  letter-spacing: 3px;
  animation: shine 1.5s ease-in-out 2s infinite alternate;
  user-select: none;
}

#cover > label.fade {
  animation: cover-fade-out 1s ease-in-out;
  animation-fill-mode: forwards;
}

.title-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.title-wrapper > .title {
  margin: 0;
  margin-top: 1rem;
  text-shadow: 0 0 10px var(--color-bright-green);
  user-select: none;
  font-size: 2.5rem;
}

.title-wrapper > .subtitle {
  font-size: 0.5rem;
  letter-spacing: 1px;
  max-width: 550px;
  opacity: 0.75;
  text-shadow: 0 0 10px var(--color-bright-green);
}

.wrapper {
  opacity: 0;
  transform-origin: center;
}

.wrapper.animate {
  animation: shift-in 4s ease;
  animation-fill-mode: forwards;
}

.container {
  width: 70vmin;
  height: 70vmin;
  display: flex;
  flex-wrap: wrap;
  gap: 2vmin;
}

.cell-wrapper.click {
  transition: transform 0.2s ease, opacity 0.2s ease, filter 0.2s ease;
  animation: click 0.2s ease;
}

.cell {
  height: 22vmin;
  width: 22vmin;
  border-radius: 20px;
  font-size: 12vmin;
  color: var(--color-bright-green);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
  background: rgba(52, 74, 34, 0.5);
  border: 5px solid rgba(52, 74, 34, 0.5);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  text-shadow: 5px 5px 15px var(--color-grass-green);
}

.cell:active {
  transform: scale(0.2);
  opacity: 0.9;
}

.cell:hover {
  opacity: 0.9;
  box-shadow: 0 0 30px #000;
}

.particle {
  position: absolute;
  z-index: 2;
  background-color: var(--color-bright-green);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

#scene {
  perspective: 1000px;
}

[data-depth] {
  position: absolute;
}
