<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TicTacToe</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
    <!-- Foreign libraries -->
    <script type="text/javascript" src="/assets/js/vanilla-tilt.js"></script>
    <script type="text/javascript" src="/assets/js/particles.js"></script>
    <!-- Local JavaScript logic -->
    <script type="module" src="/assets/js/effects.js"></script>
    <script type="module" src="/assets/js/script.js"></script>
  </head>
  <body>
    <div id="message-cover">This text should be modified by JavaScript</div>
    <div id="particles"></div>
    <div id="cover">
      <label class="guide">click anywhere to begin</label>
    </div>
    <div class="wrapper">
      <div id="board" class="container">
        <div class="cell-wrapper">
          <button class="cell" data-position="1"></button>
        </div>
        <div class="cell-wrapper">
          <button class="cell" data-position="2"></button>
        </div>
        <div class="cell-wrapper">
          <button class="cell" data-position="3"></button>
        </div>
        <div class="cell-wrapper">
          <button class="cell" data-position="4"></button>
        </div>
        <div class="cell-wrapper">
          <button class="cell" data-position="5"></button>
        </div>
        <div class="cell-wrapper">
          <button class="cell" data-position="6"></button>
        </div>
        <div class="cell-wrapper">
          <button class="cell" data-position="7"></button>
        </div>
        <div class="cell-wrapper">
          <button class="cell" data-position="8"></button>
        </div>
        <div class="cell-wrapper">
          <button class="cell" data-position="9"></button>
        </div>
      </div>
      <div class="title-wrapper">
        <h1 class="title">Tic-Tac-Toe</h1>
        <h3 class="subtitle">
          A Minimax with Alpha-beta pruning implementation using Python, Flask,
          HTML, CSS, and JavaScript.
        </h3>
      </div>
    </div>
  </body>
</html>
